{% extends 'base.html' %}

{% block content %}
    {% if carro.avatar %}
    <img src="{{ carro.avatar.url }}" alt="" width="100">
    {% else %}
    <img src="https://cdn.pixabay.com/photo/2016/09/01/08/24/smiley-1635449_1280.png" alt="" width="100">
    {% endif %}

<p>Modelo: {{ carro.modelo }}</p>
<p>Ano: {{ carro.ano }}</p>
<p>Placa: {{ carro.placa }}</p>

<a class="btn btn-primary" href="{% url 'atualizar' carro.id %}">Atualizar carro</a>
<a class="btn btn-danger" href="{% url 'deletar' carro.id %}">Deletar carro</a>
<br><br>
<a href="{% url 'listar' %}">Voltar para a lista</a>
{% endblock %}